.login-container{
     margin: 0 auto;
      width: 40%; 
      justify-content: center;
      justify-items: center;
      align-items:center;
     background-color: #6ec1e4;
     padding: 20px;
     border-radius: 15px;
     color: white;
     min-width: 360px;
    }
.login-container:hover{
    background-color: #192939;
}

.login-container:hover button{
    background-color: #6ec1e4;
}

.login-title{
    font-size: 2em;

}
.login-form{
    flex-direction: row;
}

input{
    display: block;
    background-color: white;
    color: #5c5c62;
    padding: 10px;
    border-radius: 15px;
    margin: 5px;
    border: 0;
    width: 240px;
  }

  .login-btn{
    width: 260px;
    margin: 0%;
    margin-top: 15px;
  }

  .login-btn:hover{
    background-color: rgba(110, 193, 228, 0.2);
  }
.logo-container{
    width: 250px;
}

  .gfa-logo{
    width: 240px;
    height: auto;
  }