.page-container{
    position: relative;
    top: 100px;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items:start;
    margin: 0px;
    display:flex;
    flex-direction: column;
    scroll-behavior: auto;
    
   
}
.uploading-container{
    margin: 5% 15% 0px;
}

