.page-container{
    width: 100vh;
    justify-content: center;
    align-items: center;
    padding: 3%;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
    display: flex;
}
.uploading-container{
    margin: 0;
}