.dropArea{
    background: rgba(133, 189, 202, 0.9);
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
  }

.dropArea:hover{
    background: rgba(133, 189, 202, 0.6);
}

.text{
  font-weight: bold;
  font-size: 1em;
  color: #efefef
}
