.banner-container{
    width: 100%;
    border-bottom: 5;
    top: 0;
    left: 0;
    position: fixed;
    padding:  20px;
    border-bottom: 35px solid #192939;
    background-color: white;
    margin-bottom: 0;
    display:flex;
    z-index: 100;
}
.image{
    height: 40px;
    margin-left: 50px;
    max-width: 240px;
}

@media only screen and (max-width: 500px) {
    .image{
        margin-left: 5px;
    }
  }